body {
   text-align: center;
   font-family: 'Open Sans', sans-serif;
}

.heading {
    font-size: 36px;
    margin:10px;
}

.heading2 {
    font-size: 18px;
    margin:10px;
}

.textbox {
    -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; color: #4682b4; border-style: none; padding: 10px; outline: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;
}

.box {
    margin: 40px auto; max-width: 1000px; -webkit-border-radius: 40px; -moz-border-radius: 40px; border-radius: 40px; padding:20px 0 20px 0; background: #4682b4; color:#ffffff;
}

.button:hover {
    opacity:0.9;
}

a:link {
    text-decoration: none;
}

